@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.timeline {
  position: relative;
  padding: 25px;
  border-radius: 6px;
  background: #E8E5D1;
  color: #292929;
}

.timeline:before {
  content: '';
  position: absolute;
  width: 1px;
  background: #292929;
  left: calc(50% + -3px);
  top: 140px;
  bottom: 157px;
}

.timeline-heading {
  letter-spacing: 2px;
  margin-bottom: 25px;
  text-align: center;
}

.timeline-heading h1 {
  text-transform: uppercase;
}

.timeline-item {
  position: relative;
  margin-bottom: 10px;
}

.timeline-item.left {
  left: 0;
  padding-right: calc(50% + 50px);
}

.timeline-item.right {
  right: 0;
  padding-left: calc(50% + 50px);
}

.timeline-icon {
  position: absolute;
  left: -72px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.timeline-item.left .timeline-icon {
  left: initial;
  right: -67px;
}

.timeline-content {
  position: relative;
  background: #ffffff;
  border-radius: 6px;
  padding: 25px 30px 25px 28px;
}

.timeline-description {
  font-size: 13px;
  color: #8A8A8A;
}

.timeline-title {
  margin-bottom: 16px;
}

.timeline-ribbon {
  position: relative;
  padding: 0 8px;
  margin: 0 0 0 -28px;
  line-height: 30px;
  border-radius: 0 3px 3px 0;
  color: #ffffff;
  top: -14px;
  box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.timeline-ribbon:before, .timeline-ribbon:after {
  position: absolute;
  content: '';
  display: block;
}

.timeline-ribbon:before {
  background: inherit;
  width: 9px;
  height: 100%;
  border-radius: 6px 0 0 6px;
  padding: 0 0 8px;
  top: 0;
  left: -9px;
}

.timeline-ribbon:after {
  width: 6px;
  height: 6px;
  left: -6px;
  border-radius: 6px 0 0 6px;
  box-shadow: inset -1px 2px 3px rgba(0, 0, 0, 0.3);
}

.timeline-ribbon i {
  display: none;
}

@media (min-width: 768.5px) {
  .timeline-item.right .timeline-ribbon {
    border-radius: 3px 0 0 3px;
    margin-right: -30px;
    margin-left: 0;
  }

  .timeline-item.right .timeline-ribbon:before {
    border-radius: 0 6px 6px 0;
    left: initial;
    right: -9px;
  }

  .timeline-item.right .timeline-ribbon:after {
    border-radius: 0 6px 6px 0;
    left: initial;
    right: -6px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .timeline-item {
    margin-bottom: 48px;
  }

  .timeline-icon {
    display: none;
  }

  .timeline-ribbon i {
    display: initial;
    margin-right: 25px;
  }

  .timeline-item.left, .timeline-item.right {
    left: 0;
    padding-left: initial;
    padding-right: 0;
  }
}

.bg-blue {
  background: #0074D9;
}

.bg-red {
  background: #C7180E;
}

.bg-yellow {
  background: #CD9C08;
}

.bg-green {
  background: #0AA11B;
}

.bg-orange {
  background: #FF851B;
}

.bg-maroon {
  background: #85144b;
}

.bg-pink {
  background: #F012BE;
}
